$color-turq: #29cbe9;
$color-gray: rgb(232, 237, 240);
$color-gray-dark: rgb(122, 123, 124);
$color-red: rgb(190, 80, 85);
$color-green: rgb(101, 208, 101);
$color-white: white;
$color-black: black;

$font-main: "Poppins", sans-serif;
