.page {
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    196deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(233, 230, 230, 1) 53%,
    rgba(227, 227, 227, 1) 100%
  );
  min-height: 100vh;

  padding: 3rem 7rem;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
  }
}
